html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

img {
  -webkit-transform: rotate(-35deg) skew(20deg, 5deg);
  transform: rotate(-35deg) skew(20deg, 5deg);
}

input:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0px 9999px white;
}
