html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

img {
  -webkit-transform: rotate(-35deg) skew(20deg, 5deg);
  transform: rotate(-35deg) skew(20deg, 5deg);
}

.todo-login-ct {
  background-image: url('http://om8hmotom.bkt.clouddn.com/hot-air-balloon-35248-2560x1600.webp');
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
}

.login {
  font-family: "Helvetica Neue", "Arial", " Segoe UI", "PingFang SC", "Hiragino Sans GB", "STHeiti", "Microsoft YaHei", "Microsoft JhengHei", "Source Han Sans SC", "Noto Sans CJK SC", "Source Han Sans CN", "Noto Sans SC", "Source Han Sans TC", "Noto Sans CJK TC", "WenQuanYi Micro Hei", SimSun, sans-serif !important;
  width: 290px;
  height: 310px;
  background: white;
  border-radius: 2px;
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.2);
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  padding: 0px 10px;
  z-index: 900;
}

.logging>*.sign-in-btn {
  display: none !important;
}


/*.logging .title,
.logging .username,
.logging .password,
.logging .sign-in-btn,{
  display: none !important;
}*/

.login::after {
  content: '如果未注册账号，点击登录会为您自动创建哦';
  display: inline-block;
  font-size: 12px;
  color: white;
  font-weight: lighter;
  background-color: transparent;
  position: absolute;
  left: 30px;
  bottom: -30px;
  border-radius: 5px;
  -webkit-animation: 1s ease-in fadeInUp;
  animation: 1s ease-in fadeInUp;
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.login-indicator {
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: block;
  position: absolute;
  margin: auto;
  z-index: 2000;
  width: 100px;
  height: 100px;
  background: #fff;
  display: none;
  /*-webkit-animation: expand 0.5s 0s ease-in forwards;
  animation: expand 0.5s 0s ease-in forwards;*/
}


/*@-webkit-keyframes expand {
  0% {
    opacity: 0;
    width: 290px;
    height: 310px;
  }
  100% {
    opacity: 1;
    width: 100vw;
    height: 100vh;
  }
}*/

.login-indicator>span {
  position: absolute;
  left: -5px;
  bottom: 17px;
  color: #fff;
  z-index: 1000;
}

.login-indicator>div {
  background-color: #03a9f4;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: block;
  position: absolute;
  opacity: 0;
  width: 90px;
  height: 90px;
  -webkit-animation: jumper 1.6s 0s linear infinite;
  animation: jumper 1.6s 0s linear infinite;
  z-index: 1
}

.login-indicator>div:nth-child(2) {
  -webkit-animation-delay: 0.33333s;
  animation-delay: 0.33333s;
}

.login-indicator>div:nth-child(3) {
  -webkit-animation-delay: 0.66666s;
  animation-delay: 0.66666s;
}

@-webkit-keyframes jumper {
  30% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  35% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}

@keyframes jumper {
  30% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  35% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.title {
  display: block;
  padding: 30px 0px 15px 0px;
  font-size: 1.2rem;
  color: #03A9F4;
}

.error {
  color: #f44336;
  -webkit-animation: 1s ease-in pulse;
  animation: 1s ease-in pulse;
  font-size: 14px;
  line-height: 1.7rem;
}

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.sign-in-btn {
  margin-top: 30px !important;
}

.sign-in-btn button {
  background-color: #03A9F4!important;
}

.sign-in-btn span {
  color: #03A9F4 !important;
  font-weight: lighter !important;
  font-size: 16px !important;
}

input:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0px 9999px white;
}

.welcome {
  color: #03A9F4;
  box-sizing: border-box;
  width: 100%;
  padding: 15% 15% 10%;
  min-height: 120px;
  margin: 0 auto;
  text-align: center;
  line-height: 1.5;
}

.welcome svg {
  height: 50px !important;
  width: 50px !important;
  fill: #8bc34a !important;
}

.sign-out-btn {
  margin-top: 25px !important;
}

.sign-out-btn button {
  background-color: #FF5B45!important;
}

.sign-out-btn span {
  color: #FF5B45 !important;
  font-weight: lighter !important;
  font-size: 18px !important;
}