.datepicker::-webkit-inner-spin-button,
.datepicker::-webkit-clear-button {
  display: none;
}

.addTodo-panel .submit-btn {
  background: none;
  border: none;
  font-size: 16px;
  font-weight: lighter;
  line-height: 20px;
  color: #FFFF00;
}