ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
/*
.todo-item {
  background-color: white;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  margin-left: 0px;
  padding-left: 10px;
  padding-right: 4px;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  word-break: break-all;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid #f5f5f5;
}

.todo-item:last-of-type {
  border: none;
}

.todo-item .check-box {
  padding: 14px 14px 14px 0;
}

.todo-item a {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  padding: 12px;
  -ms-flex-line-pack: center;
  align-content: center;
  border-radius: 50%;
}

.todo-item a:active {
  background-color: #f5f5f5;
}

.todo-item-text {
  font-size: 16px;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  color: #424242;
}

.todo-item-text textarea {
  color: #757575 !important;
}

.todo-item-text.today textarea {
  color: #ec9494 !important;
}

.todo-item-text textarea:focus {
  font-weight: 400 !important;
}

.todo-item .completed textarea {
  text-decoration: line-through !important;
  color: #BDBDBD !important;
}

.todo-item-delete {
  display: none !important;
  fill: #f44336 !important;
  -webkit-transition: all 200ms cubic-bezier(0.23, 1, 0.32, 1) 0ms !important;
  transition: all 200ms cubic-bezier(0.23, 1, 0.32, 1) 0ms !important;
}

.check-box,
.todo-item-text,
.todo-item-delete {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.todo-item:hover .todo-item-delete {
  display: inline-block !important;
}*/